*{
               margin: 0;
               padding: 0;
               font-family: "gilroy";
}
body{
               height: 100%;
               width: 100%;
               box-sizing: border-box;
           
}
#main{
               display: flex;
               justify-content: center;
               height: 100vh;
               width: 100%;
               background-color: #f8f8f8;
}
#signup{
               padding-left: 190px;
               margin-top: 200px;
               height: 300px;
               width: 500px;
               background-color: #8da6c0;
               border-radius: 17px;
}
.inp{
               display: block;
               margin-bottom: 10px;
               padding: 10px;
               border: none;
               border-radius: 50px;
               width: 30%;
}